name: Deploy to Azure Web App

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Java 21
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Grant execute permissions for Gradle
      run: chmod +x gradlew

        
    - name: Build with Gradle
      run: ./gradlew clean bootJar

    
    - name: List build output
      run: ls -R build/libs

    
    - name: Prepare deployment package
      run: |
        mkdir deploy
        cp build/libs/*.jar deploy/app.jar
        cd deploy
        zip -r app.zip .
